.membership-register {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
}

.register-form__entries {
  margin-bottom: 30px;
}

.register-form__item {
  display: flex;
}

.register-form__item:not(:last-child) {
  margin-bottom: 20px;
}

.register-form__label {
  display: inline-block;
  width: 150px;
}

.register-form__terms {
  text-align: center;
  margin-bottom: 20px;
}

.register-form__btn {
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px 20px;
  transition: all 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

.submit-btn {
  background-color: #61c460;
}

.submit-btn:hover {
  background-color: #008001;
}

.terms {
  line-height: 1.5;
}

.terms-link {
  display: inline-block;
  color: #1500ff;
  text-decoration: underline;
  transition: all 0.3s;
}

.terms-link:hover {
  color: #ff0100;
  cursor: pointer;
}

.indent {
  padding-left: 30px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.sub-title {
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0 10px;
}

.hidden {
  display: none;
}

/* modal parts */
.modal {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 40px 40px 40px 50px;
  border: 2px solid #000;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-btn {
  text-align: center;
  margin-top: 30px;
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 1;
}
